*{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #ffffff;
}

.bg-primary-color{
    background-color: #eea4a3;

}

.bg-secondary-color{
    background-color: #eea4a3;
}

.bg-dark-color{
    background-color: #eea4a3;
}

.primary-color{
    color:#050505;
}

.secondary-color{
    color:#000000;
}

.terciary-color{
    color:#ffffff;
}

/* NAVBAR */

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color:#fdfdfd;
}

#navbar a.active{
    border-bottom: 1px solid #ffffff;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 45%;
}

#navbar img{
    width: 50px;
}

#wpp-text{
    display: none;
    margin-left: 25%;
    background-color: #eea4a3;
    width: 50%;
    margin-bottom: 1rem;
}

#wpp-text2{
    display: block;
    margin-left: 25%;
    background-color: #eea4a3;
    width: 50%;
    margin-bottom: 1rem;
}

#navbar-items .navbar-nav{
    display:flex;
    justify-content:center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

@media(min-width:768px) {
    #wpp-text{
        display: none;
        margin-left: 25%;
        background-color: #eea4a3;
        width: 50%;
        margin-bottom: 1rem;
    }

    #wpp-text2{
        display: block;
        margin-left: 25%;
        background-color: #eea4a3;
        width: 50%;
        margin-bottom: 1rem;
    }
}


/* SLIDER */
#slider{
    margin-top: 5em;
    margin-bottom: 1em;
    display: none;
}

#slider .carousel-caption{
    bottom: 3em;
}

#slider .carousel-caption h5{
    margin: -1em 0;
    font-size: 1.0em;
    text-shadow: rgb(255, 255, 255) 2px 2px;
}

.btn{
    border-radius: 0;
}

#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active{
    background-color: rgb(243, 141, 192);
}

/* Quando for maior que 768px*/
@media(min-width:768px) {
    .navbar-brand{
        padding-left: 50%;
    }

    #slider .carousel-caption{
        bottom: 15em;
    }

    #slider .carousel-caption h5{
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }

    #slider .btn{
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }

    .carousel-indicators{
        bottom: 1em;
    }

    #slider{
        margin-top: 1em;
        margin-bottom: 1em;
        display: block;
    }
}

/*MINI BANNERS*/

#mini-banners{
    margin-bottom: 4em;
}

#mini-banners .card{
    padding: 2em 0.3em;
    border-radius: 30px;
    margin-bottom: 1em;
    background-color: #eea4a3;
}

#mini-banners i{
    font-size: 4em;
}

#mini-banners .card-title{
    margin-bottom: 1.5em;
}

#mini-banners .btn{
    margin-top: 1.5em;
    padding: .6em 1.2em;
}


@media (min-width:768px){
    #mini-banners{
        margin-top: -6em;
        display: none;
    }

    #info-text{
        display:none;
    }
}

/*Destaques */

#featured-container{
    margin-bottom: 4em;
}

.title {
    font-size: 1.75em;
    margin-bottom: .4rem;
    position: relative;
}

.title:before{
    margin-bottom: 0.5em;
    width: 75px;
    border-top: 4px solid #eea4a3;
    content: "";
    position: absolute;
    bottom: 2em;
}

#featured-images{
    margin-top: 2em;
} 

#featured-images .col-md-4{
    position: relative;
    cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.8;
}

#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(202, 141, 79);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    opacity: .3;
    transition: 0.5s;
}

@media(min-width:768px) {
    .title{
        font-size: 2.4em;
    }

    .title:before{
        bottom: 1.5em;
    }

    #featured-images .banner-content{
        opacity: 0;
    }
}


/*INFO*/

#info-inicio img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

#title-mini2{
    margin-top: -0.5em;
    margin-bottom: 2em;
}

#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-numbers{
    margin: 1.5em 0;
}

#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: -30%;
}

#info-banner img{
    padding-bottom: 2em;
}


#info-numbers h3{
    font-size: 3em;
}

#automake-banner{
    margin-top: 50px;
}

.bold{
    font-weight: bold;
}

.info-container2{

    background-color: #eea4a3;
}

@media(min-width:768px) {
    #info-content{
        padding: 3.5em;
    }

    #info-numbers{
        margin: 1.5em 0;
    }

    #info-banner{
        display: flex;
        align-items: center;
        margin-left: 30%;
        margin-bottom: -15%;
    }

    #automake-banner{
        margin-top: 5%;
        margin-left: 25%;
        width: 400px;
    }

}

@media(min-width:994px) {
    #info-content{
        padding: 3.5em;
    }

    #info-numbers{
        margin: 1.5em 0;
    }


    #info-banner{
        display: flex;
        align-items: center;
        margin-left: 25%;
        margin-bottom: -15%;
    }

    #automake-banner{
        margin-top: 5%;
        margin-left: 25%;
        width: 400px;
    }

}

@media(min-width:1200px) {
    #info-content{
        padding: 3.5em;
    }

    #info-numbers{
        margin: 1.5em 0;
    }

    #info-banner{
        display: flex;
        align-items: center;
        margin-left: 20%;
        margin-bottom: -15%;
    }

    #automake-banner{
        margin-top: 5%;
        margin-left: 25%;
        width: 400px;
    }

}

/* FOOOTER TOP */

#footer{
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top,
#footer-top i{
    color: #fff;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;
}

/* FOOTER DETAIS */

#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #fff;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

/* FOOTER BOTTOM */

#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width:768px) {
    #news-container {
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}

